# Arquivos do Java/Spring Boot
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Arquivos do React
frontend/node_modules/
frontend/build/
frontend/.env

# Arquivos de sistema
.DS_Store
*.log